body{
font-family: Arial;
text-align:center;
}

.login-box{
width:300px;
margin:auto;
margin-top:100px;
}

input, textarea{
display:block;
width:100%;
margin:10px 0;
padding:8px;
}

button{
padding:10px;
background:blue;
color:white;
border:none;
}

.card{
border:1px solid black;
margin:10px;
padding:10px;
display:inline-block;
}
